body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(assets/images/positive.png) repeat;
     
}
/* 
.header {
  background-color: #4aaaa5;
  color: black;
  width: 200px;
  float: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  margin-bottom: 30px;
  text-align: center;
} */

header {
    background: white;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc; 
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.img-me {
    float: left;
    margin: 0 15px 15px 0;
    width: 90px;
}

header h1 {
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 20px;
}

nav {
    width: 300px;
    color: black;
    float: right;
    margin-top: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav a {
    color: black;
    font-size: 12px;
    padding: 5px 15px;
    border-right: 2px solid #cccccc;
    text-decoration: none;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;
}

.clearfix {
    display: block;
    clear: both;
}

#main {
    background: white;
    padding: 10px;
    border: 2px solid #cccccc;
}

#main h2 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

.background {
    width: 100%;
    height: 100%;
}
   

footer {
    background-color: #666666;
    margin-top: 25px;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    padding: 40px;
    color: white;
    bottom: 0%;
}

.image {
    position: relative;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    padding: 40px 10px 30px 10px;
    float: left;
}

.image:nth-of-type(even) {
    float: right;
}


form label {
    font-size: 16px;
    display: block;
}

form input, form textarea {
    width: 95%;
    font-size: 16px;
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid #ccc;
    padding: 5px;
}

textarea {
    height: 200px;
}

form button {
    background: #4aaaa5;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
}

.contact {
    position: relative;
    top: 10px;
    color: black;
    padding: 0 60px;
    font-size: 11px;

}

.inputtext {
    top: 20%;
    width: 55%;
    height: 65px;
    border: 3px solid #dddddd;
    font-size: 15px;
    padding: 0 10px;
    float: left;
    margin-top: 20px;
}

.inputmessage {
    bottom: -250%;
    width: 100%;
    height: 165px;
    border: 3px solid #dddddd;
    font-size: 15px;
    padding: 0 10px;
    float: left;
    margin-top: 20px;
    padding: 20px 0 15px 0;

}

.submitbutton {
    width: 80px;
    height: 30px;
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-top: 20px;   
}

.image h4{
background: #4aaaa5;
color: white;
text-align: center;
padding: 15px 0;
width: 100%;
position: absolute;
bottom: -20px;
margin-left: -10px;

}

#buzz {
    background: url('../images/buzz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 20px 10px 10px;
}

#woody {
    background: url('../images/woody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 20px 10px 10px;
}

#jessie {
    background: url('../images/jessie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 20px 10px 10px;
}

#mrpotato {
    background: url('../images/mrpotato.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 20px 10px 10px;
}

#hamm {
    background: url('../images/hamm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 20px 10px 10px;
}
